.main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-sizing: inherit;
    position: relative;
  }
  
  .create-btn {
    background-color: #4267b2;
    padding: 0.75rem 1.5rem;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 2rem;
    
    a {
      text-decoration: none;
      color: white;
      font-size: 1.2rem;
    }
  
    &:hover {
      background-color: darken(#4267b2, 10%);
    }
  }
  
  .departments-table {
    width: 90vw; /* Ajusta el ancho de la tabla */
    max-width: 1200px; /* Limita el ancho máximo de la tabla */
    border-collapse: collapse;
    text-align: left;
  
    th, td {
      padding: 1rem; /* Aumentamos el padding para mayor separación */
      border-bottom: 1px solid #ddd;
      text-align: center; /* Centramos el contenido */
    }
  
    th {
      background-color: #4267b2;
      color: white;
    }
  
    tr:hover {
      background-color: #f5f5f5;
    }
  
    a {
      text-decoration: none;
      color: #4267b2;
    }
  }

  button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
  .edit-btn, .delete-btn {
    padding: 0.5rem 1.5rem; /* Aumentamos el padding para mayor tamaño de los botones */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .edit-btn a {
    text-decoration: none;
    color: white;
  }
  
  .edit-btn {
    background-color: #4CAF50; /* Verde para editar */
  }
  
  .delete-btn {
    background-color: #F44336; /* Rojo para eliminar */
    color: white;
  }
  
  /* Modal styles */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
}

.modal-buttons {
    display: flex;
    gap: 10px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 500;
}

.confirm-delete {
    background-color: #dc3545;
    color: white;
    border: 1px solid #dc3545;
}

.confirm-delete:hover {
    background-color: #c82333;
}

.cancel-delete {
    background-color: #6c757d;
    color: white;
    border: 1px solid #6c757d;
}

.cancel-delete:hover {
    background-color: #5a6268;
}

.cancel-delete:hover {
    background-color: #5a6268;
}

  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 500;
  }
  