<section class="main">

    <div *ngIf="department">
        <div class="department-info">
            <p> 
                <strong>Name:</strong> {{ department.name }} 
            </p>
            <p>
                <strong>Status:</strong> {{ department.status ? 'Active' : 'Inactive' }}
            </p>

            <div class="action-buttons">
                <button class="edit-btn">
                    <a [routerLink]="['/departments', department.id, 'update']" class="anchor-tag">
                        Edit
                    </a> 
                </button>

                <button class="delete-btn" (click)="openDeleteModal(department)">
                    Delete
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="!department">
        <p>No departments available.</p>
    </div>

    <!-- Modal de confirmación de eliminación -->
    <div *ngIf="departmentToDelete" class="modal-overlay"></div>
    <div *ngIf="departmentToDelete" class="modal">
        <h3>Are you sure you want to delete {{ departmentToDelete!.name }}?</h3>
        <div class="modal-buttons">
            <button (click)="confirmDelete()" class="confirm-delete">Yes</button>
            <button (click)="cancelDelete()" class="cancel-delete">No</button>
        </div>
    </div>

</section>

