<section class="main">

    <div *ngIf="department">
        <div class="update-department">
            <h2>Update Department</h2>
            
            <form (ngSubmit)="updateDepartment()" class="form">
              <div class="form-group">
                  <label for="departmentName">Department Name:</label>
                  <input type="text" [(ngModel)]="department.name" name="departmentName" required>
              </div>
          
              <div class="form-group">
                  <label for="status">Status:</label>
                  <select [(ngModel)]="department.status" name="status">
                    <option [value]="true">Active</option>
                    <option [value]="false">Inactive</option>
                  </select>
              </div>
          
              <button type="submit" class="create-btn">Update Department</button>
            </form>
        </div>
    </div>

    <div *ngIf="!department">
        <p>loading...</p>
    </div>
</section>


